<Navbar />
<Table />
{{!-- <AuModal @modalOpen={{showModal}} @closeModal={{toggleModal}}>
  <:title>{{this.title}}</:title>
  <:body>
    <p>Modal content</p>
  </:body>
  <:footer>
    <AuButton>Action</AuButton>
  </:footer>
</AuModal> --}}
{{outlet}}
