{{page-title 'Hoe worden belastingen genomen?'}}
<Navbar />
<section
  class='au-u-background-gray-200 flex'
  style='width: 100%; height: 100%; padding: 40px 80px;'
>
  <AuCard
    class='flex'
    style='flex-direction:row; width: 100%; height: 100%;'
    @textCenter='true'
    as |c|
  >
    <c.header style='width: 33%;' @badgeSkin='brand' @badgeIcon='archive'>
      <AuHeading @level='3' @skin='4'>
        Hoe worden belastingen genomen??
      </AuHeading>
    </c.header>
    <c.content
      style='text-align: start; line-height: 24px; width: 33%; padding: 40px;'
    >
      <p>
        Hoe wordt een besluit rond een gemeentebelasting of retributie genomen?
        Het proces bestaat uit drie delen. Het eerste onderdeel is de
        voorbereiding van het besluit. Dit wordt gevolgd door de dag zelf waarop
        de gemeenteraad het besluit gaat bespreken en al dan niet goedkeurt. Ten
        slotte moet de informatie rond dit besluit worden gedeeld en
        gepubliceerd in het openbaar.
      </p>
      <p>
        Wanneer er wordt ingezoomd op deze drie stappen, dan is de eerste fase
        de langste. Alles start bij de dossierbehandelaar die het ontwerpbesluit
        opstelt en advies vraagt aan de adviesverlener en de financieel
        beheerder. Dit wordt verwerkt in het ontwerpbesluit om vervolgens te
        laten bevestigen door de goedkeurder.
      </p>
      <p>

        Hierna is het aan de secretaris om de agendapunten op te stellen. Deze
        worden gedeeld met voorzitter van de gemeenteraad zodat alle leden op de
        hoogte kunnen worden gebracht. Ondertussen maakt de secretaris de
        agenda, plaats en het tijdstip openbaar.
      </p>
    </c.content>
    <c.content
      style='text-align: start; line-height: 24px; width: 33%; padding: 40px;'
    >
      <p>
        De tweede fase van dit proces is de dag van het besluit. Op deze dag
        behandelt de gemeenteraad de agendapunten. Hiervan worden notulen
        genomen door de secretaris. Vervolgens keurt de gemeenteraad deze
        notulen goed tijdens de volgende gemeenteraad en ondertekent de
      </p>
      <p>
        voorzitter deze, gevolgd door de secretaris die deze ook ondertekent. De
        laatste fase, is de fase waarin het administratieve werk in orde wordt
        gebracht. Hierbij gaat de secretaris ervoor zorgen dat het besluit van
        toepassing wordt en dat het wordt bekendgemaakt bij het grote publiek.
        Dit moet gebeuren binnen de tien dagen na het nemen van het besluit.
      </p>
    </c.content>
    <c.footer />
  </AuCard>
</section>
<Footer />
{{outlet}}
