{{page-title 'Hoe worden belastingen betaald'}}
<section class='au-o-region-large au-u-background-gray-200'>
  <div class='au-o-layout'>
    <div class='au-o-grid au-o-grid--small'>
      <div class='au-o-grid__item au-u-1-2@small'>
        <AuCard @textCenter='true' as |c|>
          <c.header @badgeSkin='brand' @badgeIcon='archive'>
            <AuHeading @level='3' @skin='4'>
              Wat zijn belastingen?
            </AuHeading>
          </c.header>
          <c.content
            style='padding: 0 100px; text-align: start; line-height: 24px;'
          >
            <p>
              Een belasting is een bedrag dat betaald wordt aan de overheid. Dit
              bedrag wordt bepaald/beïnvloed door verschillende factoren.
            </p><p>Daarnaast verwarren we een belasting vaak met een retributie:
              Het gaat over een retributie wanneer: een door de overheid
              verrichte dienst aan een derde; in diens persoonlijk belang; en
              waarbij de vergoeding redelijk in verhouding staat tot de
              kostprijs van de verleende dienst.
            </p><p>We spreken over een belasting wanneer dat tarief beïnvloed
              wordt door beleidsondersteunende factoren: zoals het stimuleren
              (ervoor zorgen dat een stuk grond of een gebouw niet ongebruikt of
              leeg blijft staan) of ontmoedigen (vervuiling, vuilnis of andere
              overlast ...) van het gedrag van de bevolking.
            </p>
          </c.content>
          <c.footer />
        </AuCard>
      </div>

    </div>
  </div>
</section>
{{outlet}}
