{{page-title 'Lynx'}}
<AuApp>
  <Navbar />
  {{outlet}}
</AuApp>
<div class='mobile-nav'>
  <div class='nav-icon'>
    <AuIcon class='mobile-icon' @icon='table' />
    <h1>Tabel</h1>
  </div>
  <div class='nav-icon'>
    <AuIcon class='mobile-icon' @icon='website' />
    <h1>Home</h1>
  </div>
  <div class='nav-icon'>
    <AuIcon class='mobile-icon' @icon='sitemap' />
    <h1>Kaart</h1>
  </div>
</div>
