{{page-title 'Lynx'}}
<AuApp>
  <Navbar />
  <AuMainContainer as |m|>
    <m.content>
      <AuContentHeader @titlePartTwo='Hoeveel belastingen betaal ik in...?'>

        <img
          src={{'https://appuniversum.github.io/ember-appuniversum/images/loket-header-1600.jpg'}}
          alt='Foto van een laptop met daarop het vlaanderen logo.'
        />
      </AuContentHeader>
      <section class='au-o-region-large'>
        <div class='au-o-layout'>
          <div class='au-o-grid au-o-grid--small'>
            <div class='au-o-grid__item au-u-3-4@small au-u-1-2@medium'>
              <AuContent @skin='large'>
                <h1>Linked Local Taxes</h1>
                <p class='au-c-heading au-c-heading--4'>Een webapplicatie die
                  helpt met het transparant distribueren van informatie omtrent
                  belastingen.</p>
                <p>Door
                  <a
                    class='au-c-link'
                    href='https://lokaalbestuur.vlaanderen.be/besluitendatabank'
                  >data</a>
                  te gebruiken die verzameld wordt door gemeentes in Vlaanderen
                  en Brussel kan men via deze applicatie bekijken hoeveel
                  belastingen inwoners uit andere regio's zouden moeten betalen.
                  .</p>
                <AuButton @icon='arrow-right' @iconAlignment='left'>
                  <LinkTo @route='dashboard' style='color: white;'>
                    Bekijken in kaart
                  </LinkTo>
                </AuButton>
              </AuContent>
            </div>
            <div style='width: 50%; margin: auto 0; padding-left: 20px;'>
              <img src='assets/logo.svg' />
            </div>
          </div>
        </div>
      </section>
      <section class='au-o-region-large au-u-background-gray-200'>
        <div class='au-o-layout'>
          <div class='au-o-grid au-o-grid--small'>
            <div class='au-o-grid__item au-u-1-2@small'>
              <AuCard @textCenter='true' as |c|>
                <c.header @badgeSkin='brand' @badgeIcon='archive'>
                  <AuHeading @level='3' @skin='4'>
                    Wat zijn belastingen?
                  </AuHeading>
                </c.header>
                <c.content
                  style='padding: 0 100px; text-align: start; line-height: 24px;'
                >
                  <p>
                    Een belasting is een bedrag dat betaald wordt aan de
                    overheid. Dit bedrag wordt bepaald/beïnvloed door
                    verschillende factoren.
                  </p><p>Daarnaast verwarren we een belasting vaak met een
                    retributie: Het gaat over een retributie wanneer: een door
                    de overheid verrichte dienst aan een derde; in diens
                    persoonlijk belang; en waarbij de vergoeding redelijk in
                    verhouding staat tot de kostprijs van de verleende dienst.
                  </p><p>We spreken over een belasting wanneer dat tarief
                    beïnvloed wordt door beleidsondersteunende factoren: zoals
                    het stimuleren (ervoor zorgen dat een stuk grond of een
                    gebouw niet ongebruikt of leeg blijft staan) of ontmoedigen
                    (vervuiling, vuilnis of andere overlast ...) van het gedrag
                    van de bevolking.
                  </p>
                </c.content>
                <c.footer>
                  <AuButton style='color: white;'>
                    <LinkTo @route='wat-zijn-belastingen'>
                      Meer info
                    </LinkTo>
                  </AuButton>
                </c.footer>
              </AuCard>
            </div>
            <div class='au-o-grid__item au-u-1-2@small'>
              <AuCard @textCenter='true' as |c|>
                <c.header @badgeSkin='brand' @badgeIcon='message'>
                  <AuHeading @level='3' @skin='4'>
                    Hoe worden beslissingen genomen?
                  </AuHeading>
                </c.header>
                <c.content
                  style='padding: 0 100px; text-align: start; line-height: 24px;'
                >
                  <p>Het proces over belastingbesluiten bestaat uit drie delen:
                    voorbereiding, goedkeuring en publicatie.
                  </p><p>Tijdens de voorbereiding zal de dossierbehandelaar het
                    ontwerpbesluit op stellen met behulp van de adviesverlener
                    en de financieel beheerder. Als dit besluit bevestigd wordt
                    door de goedkeurder, kan de secretaris de agenda in orde
                    maken en de nodige mensen op de hoogte brengen.</p><p>
                    Gedurende de dag van het besluit, behandelt de gemeenteraad
                    de agendapunten, waarvan de secretaris notulen neemt. Na de
                    goedkeuring van de gemeenteraad worden deze nog ondertekend
                    door de voorzitter en secretaris.</p><p>
                    Binnen de tien dagen na het nemen van het nieuwe besluit
                    publiceert de secretaris deze voor het grote publiek. Dit
                    maakt het besluit van toepassing, wat het proces beëindigt.
                  </p>

                </c.content>
                <c.footer>
                  <AuButton style='color: white;'>
                    <LinkTo @route='hoe-worden-beslissingen-genomen'>
                      Meer info
                    </LinkTo>
                  </AuButton>
                </c.footer>
              </AuCard>
            </div>
          </div>
        </div>
      </section>
      <AuMainFooter>
        <AuHeading @level='3' @skin='4'>
          lynx.osoc.be is een officiële website van de Vlaamse overheid
        </AuHeading>
        <AuContent @skin='small'>
          <p>Uitgegeven door
            <a
              class='au-c-link'
              href='https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur'
            >Agentschap Binnenlands Bestuur</a></p>
          <ul class='au-c-list-horizontal'>
            <li class='au-c-list-horizontal__item'>
              <AuLink @route='index' @skin='secondary'>Disclaimer</AuLink>
            </li>
            <li class='au-c-list-horizontal__item'>
              <AuLink @route='index' @skin='secondary'>Cookieverklaring</AuLink>
            </li>
          </ul>
        </AuContent>
      </AuMainFooter>
    </m.content>
    {{outlet}}
  </AuMainContainer>
</AuApp>
<div class='mobile-nav'>
  <div class='nav-icon'>
    <AuIcon class='mobile-icon' @icon='table' />
    <h1>Tabel</h1>
  </div>
  <div class='nav-icon'>
    <AuIcon class='mobile-icon' @icon='website' />
    <h1>Home</h1>
  </div>
  <div class='nav-icon'>
    <AuIcon class='mobile-icon' @icon='sitemap' />
    <h1>Kaart</h1>
  </div>
</div>
