{{page-title 'Wat zijn belastingen?'}}
<Navbar />
<section
  class='au-u-background-gray-200 flex'
  style='width: 100%; height: 100%; padding: 40px 80px;'
>
  <AuCard
    class='flex'
    style='flex-direction:row; width: 100%; height: 100%;'
    @textCenter='true'
    as |c|
  >
    <c.header style='width: 33%;' @badgeSkin='brand' @badgeIcon='archive'>
      <AuHeading @level='3' @skin='4'>
        Wat zijn belastingen?
      </AuHeading>
    </c.header>
    <c.content
      style='padding: 0 100px; text-align: start; line-height: 24px; width: 33%;'
    >
      <p>
        Een belasting is een bedrag dat betaald wordt aan de overheid. Dit
        bedrag wordt bepaald/be誰nvloed door verschillende factoren.
      </p><p>Daarnaast verwarren we een belasting vaak met een retributie: Het
        gaat over een retributie wanneer: een door de overheid verrichte dienst
        aan een derde; in diens persoonlijk belang; en waarbij de vergoeding
        redelijk in verhouding staat tot de kostprijs van de verleende dienst.
      </p><p>We spreken over een belasting wanneer dat tarief be誰nvloed wordt
        door beleidsondersteunende factoren: zoals het stimuleren (ervoor zorgen
        dat een stuk grond of een gebouw niet ongebruikt of leeg blijft staan)
        of ontmoedigen (vervuiling, vuilnis of andere overlast ...) van het
        gedrag van de bevolking.
      </p>
    </c.content>
    <c.content
      style='padding: 0 100px; text-align: start; line-height: 24px; width: 33%;'
    >
      <p>
        Een belasting is een bedrag dat betaald wordt aan de overheid. Dit
        bedrag wordt bepaald/be誰nvloed door verschillende factoren.
      </p><p>Daarnaast verwarren we een belasting vaak met een retributie: Het
        gaat over een retributie wanneer: een door de overheid verrichte dienst
        aan een derde; in diens persoonlijk belang; en waarbij de vergoeding
        redelijk in verhouding staat tot de kostprijs van de verleende dienst.
      </p><p>We spreken over een belasting wanneer dat tarief be誰nvloed wordt
        door beleidsondersteunende factoren: zoals het stimuleren (ervoor zorgen
        dat een stuk grond of een gebouw niet ongebruikt of leeg blijft staan)
        of ontmoedigen (vervuiling, vuilnis of andere overlast ...) van het
        gedrag van de bevolking.
      </p>
    </c.content>
    <c.footer />
  </AuCard>

</section>
<Footer />
{{outlet}}
