<div style='display: flex;'>
  <section style='width: 50%; height: 100%;'>
    <h5 class='au-u-h5 au-u-medium'>Algemene informatie</h5>
    <p class='au-u-para' style='text-align:justify;'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id esse sit earum
      necessitatibus ipsa? Assumenda doloremque quidem, illum magni est
      distinctio temporibus quaerat nemo accusamus inventore incidunt enim,
      pariatur amet. Vel dolore voluptatibus nesciunt officiis ipsa quasi veniam
      accusantium, ea amet itaque suscipit ex ab est debitis asperiores earum
      rerum unde error aperiam hic? Deleniti totam suscipit mollitia cumque
      laudantium! Est voluptatem quidem fugiat quasi exercitationem molestias
      odio voluptas, vel quia, iusto mollitia saepe assumenda nulla nihil
      praesentium a aliquid animi optio neque incidunt modi earum doloribus
      dolorum! Harum, autem.
    </p>
  </section>
  <section
    style='width: 50%; height: 100%; justify-content:center; align-items:center; display:flex; flex-direction:column;'
  >
    <h5 class='au-u-h5 au-u-muted'>Populatie</h5>
    <p class='au-u-para'>
      {{this.currPopulation}}
    </p>
  </section>
</div>
