<Navbar />
<AuContent>
  <p>
    Login
  </p>
  <AuInput @label='Email' @value={{this.email}} />
  <AuInput @label='Password' @value={{this.password}} />
  <AuButton {{action 'login'}}>Log in</AuButton>
</AuContent>
