<h1 style='display: none;'>{{this.model.currentMunicipality}}</h1>
<AuMainContainer as |m|>

  <m.sidebar>
    <div class='au-c-sidebar'>
      <div class='au-c-sidebar__content'>
        <nav>
          <ul class='au-c-list-navigation'>
            <p class='au-c-heading au-c-heading--6'>
              Besluiten
            </p>
            <li class='au-c-list-navigation__item'>
              <AuNavigationLink @linkRoute='index.municipality.decisions'>
                <AuIcon @icon='documents' @alignment='left' />
                Besluiten
              </AuNavigationLink>
              <p class='au-c-heading au-c-heading--6'>
                Algemene info
              </p>
              <li class='au-c-list-navigation__item'>

                <AuNavigationLink @linkRoute='index.municipality'>
                  <AuIcon @icon='documents' @alignment='left' />
                  Algemeen
                </AuNavigationLink>
              </li>
              <li class='au-c-list-navigation__item'>

                <AuNavigationLink
                  @linkRoute='index.municipality.alle-indicatoren'
                >
                  <AuIcon @icon='documents' @alignment='left' />
                  Alle Indicatoren
                </AuNavigationLink>
              </li>
              <li class='au-c-list-navigation__item'>

                <AuNavigationLink
                  @linkRoute='index.municipality.lokaal-bestuur'
                >
                  <AuIcon @icon='documents' @alignment='left' />
                  Lokaal Bestuur
                </AuNavigationLink>
              </li>
              <li class='au-c-list-navigation__item'>

                <AuNavigationLink
                  @linkRoute='index.municipality.onderwijs-en-vorming'
                >
                  <AuIcon @icon='documents' @alignment='left' />
                  Onderwijs en Vorming
                </AuNavigationLink>
              </li>
              <li class='au-c-list-navigation__item'>

                <AuNavigationLink @linkRoute='index.municipality.werk'>
                  <AuIcon @icon='documents' @alignment='left' />
                  Werk
                </AuNavigationLink>
              </li>
              <li class='au-c-list-navigation__item'>

                <AuNavigationLink
                  @linkRoute='index.municipality.wonen-en-woonomgeving'
                >
                  <AuIcon @icon='documents' @alignment='left' />
                  Wonen en Woonomgeving
                </AuNavigationLink>
              </li>

            </li>
          </ul>
        </nav>
      </div>
      <div class='au-c-sidebar__footer'>
        <AuLinkExternal
          href='https://www.vlaanderen.be/'
          @width='block'
          @skin='secondary'
          @icon='manual'
          @iconAlignment='left'
        >
          Manual
        </AuLinkExternal>
      </div>
    </div>
  </m.sidebar>
  <m.content @scroll={{true}}>

    <div class='au-d-component-block au-d-component-block--overflow'>
      {{outlet}}
    </div>
  </m.content>
</AuMainContainer>
